<div id="site_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <h1><%= @site.name %></h1>
    <hr>
  </header>

  <div id="content">

    <%= @site.name %>
    <br>
    <br>

    <%= @site.link %>
    <br>
    <br>

    <%= @site.logo %>
    <br>
    <br>

    <%= @site.description %>
    <br>
    <br>

    <%= @site.status %>
    <br>
    <br>

    <%= @site.product_link_tag %>
    <br>
    <br>

    <%= @site.price_tag %>
    <br>
    <br>

    <%= @site.image_tag %>
    <br>
    <br>

    <%= @site.description_tag %>
    <br>
    <br>

    <%= @site.category_tag %>
    <br>
    <br>

    <%= link_to "Editar", edit_site_path(@site) %>
    <%= link_to "Deletar", site_path(@site), method: :delete, data: { confirm: 'Tem Certeza?' } %>
  </div>  
</div>