<!DOCTYPE html>
<html>
<head>
  <title>Pesquisa Web</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery.blockUI' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
    <%= link_to "Pesquisa Web", root_path, class: "name" %>
    <div id="search_top">
       <form action="#" method="get" id="form">
        <input type="text" id="search_word2" required />
        <button type="submit" value="" class="button" id="search" style="margin-left:4px">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
     

    <nav id="primary_nav_wrap">
      <ul>
        <li><a href="/">Home</a></li>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li><%= link_to 'Administração', rails_admin_path %></li>
          <% end %>
          <li>
            <a href="#">Conta</a>
            <ul>
              <li><%= link_to gravatar_for(current_user, 'gravatar-small') + 'Perfil', user_profile_path %></li>
              <li><%= link_to 'Configurações', edit_user_registration_path %></li>
              <li><%= link_to 'Sair', destroy_user_session_path, :method => :delete%></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <%= yield %>

  <script type="text/javascript">
      <%= yield :js %>

      /* Friendly URL rewrite */
    $("#form").submit(function() {
        /* Remove unwanted characters, only accept alphanumeric and space */
        var keyword = $('#search_word2').val().replace(/[^A-Za-z0-9 ]/g,'');

        /* Replace multi spaces with a single space */
        keyword = keyword.replace(/\s{2,}/g,' ');

        /* Replace space with a '-' symbol */
        keyword = keyword.replace(/\s/g, "-");

        var cleanUrl = 'http://' + window.location.host + '/search/' + keyword.toLowerCase();
        window.location = cleanUrl;

        return false;  // Prevent default button behaviour
    });

     $(document).ready(function() {

        $('#search').click(function() {
            if(document.getElementById("search_word").value != "")
            {
              $.blockUI({ message: null });
            }
        });
    });

  </script>

  <footer id="main_footer">
      <p class="copyright">&copy;Pesquisa Web</p>
      <nav>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-facebook-official"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </nav>
  </footer>
  <%= render 'layouts/messages' %>
</body>
</html>